extends layout

block content

  style body{background: transparent url("https://farm8.staticflickr.com/7072/7340248160_f368a8a3df_k_d.jpg") no-repeat scroll left top / cover !important;}

  div#introDiv

    h1 Multi-variable To-do List

    p A todo list with bivariate priority ranking: generates a priority for your tasks using both the weight of the assignment in the course, and the time left until the deadline:

    img(src="images/eq.svg",style="width:20em;padding:1em 2em;")

    p Higher-weighted, sooner-due tasks receive higher priority. Tasks due within seven days are highlighted red, tasks due within fourteen days are highlighted yellow. The background image is configurable in the preferences.

    p Source code is #[a(href="https://github.com/davidschlachter/multivariable-todo") on Github].

    img(src="images/tasks.png",style="width:100%;")

    p#pLogin #[a(href="auth/facebook")#aLogin #[img(src="images/facebook.svg",style="height:2em;width:2em;vertical-align:middle;")] Login with Facebook]
