doctype html
html
	head
		title= title
		link(rel='stylesheet', href='stylesheets/style.css')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
		link(rel='stylesheet', href='stylesheets/jquery.datetimepicker.css')
		script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
		script(src='javascripts/main.js')
		script(src='javascripts/jquery.datetimepicker.full.min.js')
		script(src='javascripts/moment.js')
	body
		block content
