doctype html
html
	head
		title= title
		<script>if('querySelector' in document && 'localStorage' in window && 'addEventListener' in window) { document.write('<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"><\/script>') } else { document.write('<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"><\/script>') }</script>
		link(rel='stylesheet', href='stylesheets/style.css')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
		link(rel='stylesheet', href='stylesheets/jquery.datetimepicker.css')
		script(src='javascripts/main.js')
		script(src='javascripts/jquery.datetimepicker.full.min.js')
		script(src='javascripts/moment.js')
		meta(name="viewport", content="width=device-width, initial-scale=1")
	body
		block content
