extends layout

block content

	unless user
		div#explainer
			div#introDiv

				h1 Multi-variable To-do List

				p The multi-variable to-do list automatically generates a priority for your tasks using both the weight of the assignment in the course, and the time left until the deadline:

				img(src="images/eq.svg",style="width:20em;padding:1em 2em;")

				p Higher-weighted, sooner-due tasks receive higher priority. Tasks due within seven days are highlighted red, tasks due within fourteen days are highlighted yellow.

				p Source code is #[a(href="https://github.com/davidschlachter/multivariable-todo") on Github].<br><br><br>
			
				p Sign in with Facebook to access your task list across multiple devices, and change the background image.

				p#pLogin #[a(href="signup")#aLogin #[img(src="images/facebook.svg",style="height:2em;width:2em;vertical-align:middle;")] Login with Facebook]

	div#content
		div#toast
			div#toastRight #[i(class="fa fa-times")]
			div#toastInner

		- if (user) var message = "Welcome " + user.displayName + "! "

		if user
			p#welcome #[=message] #[a(href="prefs", id="prefslink", onclick="return false;") Preferences] &nbsp; #[a(href="logout") Log out]

		div#inputDiv
			p Add task: #[input#inputCourseCode(type="text", placeholder="course code", name="coursecode")] #[input#inputTask(type="text", placeholder="task", name="task")] #[input#inputDeadline(type="text", name="deadline", placeholder="deadline")] #[input#inputWeight(type="number", min="0", max="100", step="0.1", placeholder="10.0", name="weight")]% &nbsp;&nbsp; #[button#btnSubmit(type="submit") add task]
	
		div#bigbkgdiv
			div#prefs
				p Set background image: #[input#inputBkgURL(type="text", placeholder="https://farm8.staticflickr.com/7788/18388023062_1803b02299_k_d.jpg", name="BkgURL")]
				div#imgPreview
					div#tasksPreview
				p Set task list opacity: #[input#inputOpacity(type="range", min="0", max="1", step="0.01", placeholder="0.6" name="inputOpacity", oninput="showOpacity(value)")] <output for="inputOpacity" id="inputOpacityText"></output>
				p #[button#btnPrefSubmit(type="submit") Set] #[button#btnPrefCancel(type="submit") Cancel]
		
		div#tasksList
			h2#currentHead #[span#currRight ▶] #[span#currDown ▼] Current Tasks
			
			div#currentTasks
				table#tasksTable
					tr
						th 
						th Course
						th Task
						<th colspan="4" class="dateTD">Deadline</th>
						th.weight Weight
						th.priority Priority
				
				p#gettingstarted To get started, add a task! <img id="upArrow" src="images/arrow.svg"/>

			p.bottomspacer &nbsp;

			h2#completedHead #[span#complRight ▶] #[span#complDown ▼] Completed Tasks 
			table#completedTable
				tr
					th
					th Course
					th Task
					<th class="DateTD" colspan="4">Deadline</th>
					th.weight Weight
			p.bottomspacer &nbsp;
