extends layout

block content
	div#content
		div#toast

		- var message = "Welcome " + user.displayName + "! "
		p#welcome #[= message] #[a(href="prefs", id="prefslink", onclick="return false;") Preferences] #[a(href="logout") Log out]

		div#inputDiv
			p Add task: #[input#inputCourseCode(type="text", placeholder="course code", name="coursecode")] #[input#inputTask(type="text", placeholder="task", name="task")] #[input#inputDeadline(type="text", name="deadline", placeholder="deadline")] #[input#inputWeight(type="number", min="0", max="100", step="0.1", placeholder="10.0", name="weight")]% &nbsp;&nbsp; #[button#btnSubmit(type="submit") add task]
		
		div#prefs
			p Set background image: #[input#inputBkgURL(type="text", placeholder="https://farm8.staticflickr.com/7788/18388023062_1803b02299_k_d.jpg", name="BkgURL")]
			p Set task list opacity: #[input#inputOpacity(type="number", min="0", max="1", step="0.05", placeholder="0.6" name="inputOpacity")]
			p #[button#btnPrefSubmit(type="submit") Set]
			
		div#bigbkgdiv
		
		div#tasksList
			table#tasksTable
				tr
					th 
					th Course
					th Task
					<th colspan="4" class="dateTD">Deadline</th>
					th.weight Weight
					th.priority Priority
		
			h2#completedHead #[span#complRight ▶] #[span#complDown ▼] Completed Items
			table#completedTable
				tr
					th
					th Course
					th Task
					<th class="DateTD" colspan="4">Deadline</th>
					th.weight Weight
