extends layout

block content
	div#content
		div#toast

		- var message = "Welcome " + user.displayName + "! "
		p#welcome: #[= message] #[a(href="prefs") Preferences] #[a(href="logout") Log out]

		div
			p Add task: #[input#inputCourseCode(type="text", placeholder="course code", name="coursecode")] #[input#inputTask(type="text", placeholder="task", name="task")] #[input#inputDeadline(type="text", name="deadline", placeholder="deadline")] #[input#inputWeight(type="number", min="0", max="100", step="0.1", placeholder="10.0", name="weight")]% &nbsp;&nbsp; #[button#btnSubmit(type="submit") submit]
		
		div#tasksList
			table#tasksTable
				tr
					th 
					th Code
					th Task
					th Deadline
					th Weight
					th Priority
		
			h2 Completed Items
			table#completedTable
				tr
					th
					th Code
					th Task
					th Deadline
					th Weight
