body {
  font: 88% "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: white;
  color: black;
}

@media screen and (max-width: 799px) {
	body {
		padding: 0;
		margin:0;
		min-width: 100%;
		min-height: 100%;
	}
	#content {
		width:98%;
		margin-left: 1%;
		margin-right: 1%;
		margin-top: 0.4em;
		padding: 0.2em;
	}
	td {
		padding-left: 0.2em;
		padding-right: 0.2em;
	}
	.datecomma {
		display: none;
	}
	.time {
		display: none;
	}
	.coursecode {
		font-size: 60%;
		width:3.5em;
	}
	table#tasksTable {
		width: 98%;
	}
}
@media screen and (min-width: 800px) {
	body {
	    padding-left: 2em;
	    padding-right: 2em;
	}
	#content {
		padding-left: 1em;
		padding-right: 1em;
	}
	td {
		padding-left: 0.75em;
		padding-right: 0.75em;
	}
}

body {
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 0.5vh;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	height: 99.5vh;
}
a {
  color: #00B7FF;
}

#toast {
	width: 100%;
	text-align: center;
	line-height: 2em;
	opacity: 0.95;
	top: 0;
	position: fixed;
	left: 50%;
	margin-left: -50%;
	padding: 0.3em;
	display:none;
}

#prefs {
	position: fixed;
	padding: 1em;
	width: 70%;
	left: 50%;
	margin-left: -35%;
	background-color: rgba(255,255,255,1);
	z-index:2;
	display: none;
}

#bigbkgdiv {
	display:none;
	background-color: rgba(0,0,0,0.5);
	height: 100%;
	width: 100%;
	position: fixed;
	top:0;
	left:0;
	z-index:1;
}

#inputCourseCode {
	width: 5.75em;
}

#inputDeadline {
	width: 9em;
}

#inputWeight {
	width: 4em;
}

table {
  border-collapse:collapse;
  border-spacing:0;
}

td.priority {
	text-align: right; 
}

td.weight {
	text-align: right;
}

td.dateTD {
	padding-left: 0.2em !important;
	padding-right: 0.2em !important;
	margin:0;
	border:0;
}

th {
	display: none;
}

#content {
	display: table;
}

#welcome {
	text-align: right;
}

.remove {
	color: #FFB2B2;
}
.remove:hover {
	color: #FF0000;
}

.complete {
	color: #99CC99;
}

.complete:hover {
	color: #008000;
}

#completedHead {
	font-size: 100%;
}

#completedTable {
	display: none; 
	margin-bottom:1em;
}
#complDown {
	display: none;
}


#introDiv {
	margin: 1em auto;
	max-width: 40em;
	padding: 0.5em 2em;
	background-color: rgba(255,255,255,1);
	border-radius: 0.5em;
	line-height: 150%;
}

#pLogin {
	text-align:center;
	margin-top: 2em;
	font-weight: bold;
}

#aLogin {
	padding: 1em 1em 1.2em;
	margin: 0.25em;
	background-color:rgba(30,144,255,1);
	border-radius: 0.5em;
	text-decoration: none;
	color: white;
}
