body {
  padding-left: 2em;
  padding-right: 2em;
  font: 88% "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div #toast {
	width: 45%;
	text-align: center;
	height: 2em;
	line-height: 2em;
	top: 0.2em;
	margin: 0 auto;
	padding: 0.3em;
	background-color: white;
}

td.priority {
	text-align: right; 
}

td {
	padding-left: 0.5em;
	padding-right: 0.5em;
}

th {
	display: none;
}

#content {
	display: table;
}

#welcome {
	text-align: right;
}

.remove {
	color: #FFB2B2;
}
.remove:hover {
	color: #FF0000;
}

.add {
	color: #99CC99;
}

.add:hover {
	color: #008000;
}