body {
  font: 88% "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: white;
  color: black;
}

@media screen and (max-width: 799px) {
	body {
		padding: 0;
		margin:0;
		min-width: 100%;
		min-height: 100%;
	}
	#content {
		width:98%;
		margin-left: 1%;
		margin-right: 1%;
		margin-top: 0.4em;
		padding: 0.2em;
	}
	td,th {
		padding-left: 0.2em;
		padding-right: 0.2em;
	}
	th {
		display:none;
	}
	.datecomma {
		display: none;
	}
	.time {
		display: none;
	}
	.coursecode {
		font-size: 60%;
		width:3.5em;
	}
	table#tasksTable {
		width: 98%;
	}
}
@media screen and (min-width: 800px) {
	body {
	    padding-left: 2em;
	    padding-right: 2em;
	}
	#content {
		padding-left: 1em;
		padding-right: 1em;
	}
	td,th {
		padding-left: 0.75em;
		padding-right: 0.75em;
	}
}
@media screen and (max-width: 950px) {
	#introDiv {
		position:fixed;
	    bottom: 0;
		width:100% - 4em;
		max-height: 45vh;
		overflow: auto;
	}
	#introDiv>h1 {
		display: none;
	}
	#introDiv br {
		display: none;
	}
}
@media screen and (min-width: 951px) {
	#introDiv {
		position:absolute;
		right: 0em;
		top:0;
		height: 100vh;
		max-width: 30%;
	}
}

body {
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 0.5vh;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	height: 99.5vh;
}
a {
  color: #00B7FF;
}

#content {
	display: table;
	background-color: rgb(255,255,255);
	border-radius: 0.25em;
	box-shadow: 0.25em 0.25em 1em rgba(136, 136, 136, 0.5);
	padding-left: 0;
	padding-right: 0;
}

#content > * {
	margin-left: 1em;
	margin-right: 1em;
}

#toast {
	width: 100%;
	line-height: 2em;
	text-align: center;
	opacity: 0.95;
	top: 0;
	left:0;
	position: absolute;
	display:none;
	margin: 0;
	padding: 0.3em 0 0.3em;
	background-color: #EEEEEE;
	box-shadow: 0.25em 0.25em 1em rgba(136, 136, 136, 0.5);
}

#toastInner {
	text-align: center;
}

#toastRight {
	padding-right: 0.5em;
	float: right;
	font-size: 200%;
	color: black;
	opacity: 0.5;
}

#welcome {
	text-align: right;
	margin:0;
	border-top-right-radius: 0.25em;
	border-top-left-radius: 0.25em;
	padding: 1em;
}


#prefs {
	padding: 1em;
	max-width: 40em;
	background-color: rgba(255,255,255,1);
	z-index:2;
	display: none;
	margin: 1em auto;
}

#inputBkgURL {
	width: 99%;
}

#imgPreview {
	text-align: center;
	height: 16em;
	width: 100%;
}

#tasksPreview {
	width: 40%;
	height: 10em;
	background-color: white;
	margin-left: 1em;
	top: 1em;
	position: relative;
}

#inputOpacity {
	vertical-align: middle;
}

#bigbkgdiv {
	display:none;
	background-color: rgba(0,0,0,0.5);
	height: 100%;
	width: 100%;
	position: fixed;
	top:0;
	left:0;
	z-index:1;
	margin:0;
}

#inputCourseCode {
	width: 5.75em;
}

#inputDeadline {
	width: 9em;
}

#inputWeight {
	width: 4em;
}

table {
  border-collapse:collapse;
  border-spacing:0;
}

th {
	text-align:left;
}

td .priority ,th .priority {
	text-align: right; 
}

td .weight ,th .weight {
	text-align: right;
}

th.dateTD, td.dateTD {
	padding-left: 0.2em !important;
	padding-right: 0.2em !important;
	margin:0;
	border:0;
	margin-top:2px;
}

.dayTD {
	border-top-left-radius: 0.25em;
	border-bottom-left-radius: 0.25em;
}

.time {
	border-top-right-radius: 0.25em;
	border-bottom-right-radius: 0.25em;
}

#tasksTable {
	margin-top:1em;
	margin-bottom: 1.2em;
	display:none;
}

.remove {
	color: #FFB2B2;
}
.remove:hover {
	color: #FF0000;
}

.complete {
	color: #99CC99;
}

.complete:hover {
	color: #008000;
}

#gettingstarted {
	font-size: 130%;
	margin-top: -1.2em;
	margin-bottom: 2em;
	text-align: center;
	display: none;
}

#upArrow {
	margin-left: 2em;
	height: 7em;
}

#completedHead, #currentHead {
	font-size: 100%;
	background-color: rgba(0,0,0,0.1);
	border-radius: 0.25em;
	height:1.67em;
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	padding: 0.3em;
}

#completedTable {
	display: none; 
	margin-bottom:1em;
}
#complDown, #currRight {
	display: none;
}


#introDiv {
	opacity: 0.95;
	padding: 0.5em 2em;
	background-color: rgba(255,255,255,1);
	line-height: 150%;
}

#pLogin {
	text-align:center;
	margin-top: 2em;
	font-weight: bold;
}

#aLogin {
	padding: 1em 1em 1.2em;
	margin: 0.25em;
	background-color:rgba(30,144,255,1);
	border-radius: 0.5em;
	text-decoration: none;
	color: white;
}

.bottomspacer {
	margin: 0;
	padding: 0;
}
