// Fill out the values for your configuration, then rename this file "oauth.js"
// Settings for OAuth providers
var ids = {
facebook: {
 clientID: 'fill in your own',
 clientSecret: 'fill in your own',
 callbackURL: 'https://schlachter.ca/multivariable-todo/auth/facebook/callback'  // Change to your own URL
},
passportsecret: 'fill in your own',
fullpath: '/path/to/node/app'
}

module.exports = ids
